@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
     -moz-border-radius: $radius !important;
      -ms-border-radius: $radius !important;
          border-radius: $radius !important;
}

.button {
  @include border-radius(3px);
}  

.heading {
  h3 {
    font-weight: bold;
  }
}

li {
  min-width: 200px;
}

ul {
  min-width: 900px;
}

.template {
  min-width: 200px;
  cursor: pointer;
  border: 2px solid #ebebeb;
  background-color: #f0f4f5;
  &:hover {
    border: 2px solid #37A7D6;
  }
  img {
    width: 90%;
    margin: 10px;
  }

  @include border-radius(5px);

  .name {
    background-color: white;
    padding: 10px;
    font-size: .8em;
    font-weight: bold;
    @include border-radius(5px); 
  }
}

.more, .account {
  color: #999;
  weight: bold;
  margin-bottom: 15px;
}

textarea {
  resize: none;
  padding: 15px !important;  
  font-size: 1em !important;
}

.filepicker-button {
  margin: 0 !important;
  font-size: .8em !important;
  color: white !important;
  background-color: #858585 !important;
}

.drop-files {
  padding: 6px 10px !important;
  margin-left: 10px !important;
}

::-webkit-input-placeholder { color: #999 !important; }
:-moz-placeholder { color: #999 !important; }
::-moz-placeholder { color: #999 !important;  }
:-ms-input-placeholder { color: #999 !important; }

#send_message {
  height: 200px;
}