<div class="row">
  <div class="medium-12 columns footer">

    <dl class="sub-nav">
      <dd class='left'><%= link_to 'Help', '#' %></dd>
      <dd><%= link_to 'Email us', '#' %></dd>
      <dd><%= link_to 'Upgrade your plan', '#' %></dd>
      <dd><%= link_to '...', '#' %></dd>
    </dl>

  </div>
</div>    